<div class="posts-wrapper">
  <aside>
    <h2>Posts</h2>
    {{input type="text" class="search" placeholder="Search" value=search action="queryPost"}}
    {{#each post in model}}
      <h4>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</h4>
    {{/each}}
  </aside>

  <main>
    {{outlet}}

    <div class>
      {{#each post in model}}
        <h2 class="title">{{#link-to 'post' post}}{{post.title}}{{/link-to}}</h2>
        <h4>By : {{post.user_id}}</h4>
        <p>{{post.body}}</p>
      {{/each}}
    </div>
  </main>
</div>
