
<div class>
  <h2 class="title">{{firstName}}'s Posts</h2>
    <ul>
      {{#each post in posts}}
        <li>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</li>
      {{/each}}
    </ul>

  <h2 class="title">{{firstName}}'s Comments</h2>
    <ul>
      {{#each comment in comments}}
        <li>{{#link-to 'post' comment.post}}{{comment.post.title}}{{/link-to}}</li>
          <p class= "quote-body">"{{comment.body}}"</p>
      {{/each}}
    </ul>
</div>
