
<div class>
  <h2 class="title">{{firstName}}</h2>
  <h4>{{firstName}}'s Posts</h4>
  {{#each post in posts}}
    <p>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</p>
  {{/each}}

  <h4>{{firstName}}'s Comments</h4>
  {{#each comment in comments}}
    <p>
      {{#link-to 'post' comment.post}}{{comment.post.title}}{{/link-to}}
    </p>
    <p>{{comment.body}}</p>
  {{/each}}
</div>
